.need-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 50px;
}
.need-btn button{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}
.need-btn button:hover{
    background-color: #3e8e41;
    
}
.seeker-page-container {
  padding: 20px;
}

.requests-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.requests-table th,
.requests-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.requests-table th {
  background-color: #f4f4f4;
}

.requests-table td {
  background-color: #f9f9f9;
}

.requests-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


